.players-search-list
	&__response-number-wrapper
		padding 12px 16px
		color #95989A
	&__response-number
		position relative
		&::before
			content ""
			position absolute
			top 20px
			left 0
			height 1px
			width 100%
			background-color #95989A


.players-search-list-item
	position relative
	display flex
	justify-content space-between
	padding 4px 16px
	margin-bottom 2px
	border 1px solid #B9B6B6
	border-right 0
	border-left 0
	color #fff
	font-family RobotoCondensedLight

	&:nth-child(even)
		background-color #636447

	&:nth-child(odd)
		background-color #808156

	&__right-part
		display flex
		flex-direction column
		justify-content flex-end
		padding-bottom 6px

	&__player-battles
		font-family RobotoCondensedBold
		font-size 20px
		display flex
		margin-bottom 4px
		align-items center

	&__player-battles-icon
		image-bg('battles.svg')
		size(16px)
		margin-right 14px

	&__player-battles-text
		margin-right 3px

	&__player-nickname
		font-size 20px
		margin-top 4px
		margin-bottom 6px

	&__personal-rating-image
		position absolute
		right -1px
		top -4px
		image-bg('personal-rating.png')
		size(66px)

	&__personal-rating-text
		font-size 16px
