@import '_variables'
@import '_mixins'

@import 'base/reset'
@import 'base/core'
@import 'base/fonts'
@import 'base/utilities'




@import 'components/**'

body
	font-family RobotoCondensedRegular
	font-size 20px
	padding 10px
	display flex
	justify-content center


.add-user
	outline none
	background-color #c56
	transition all ease .6s
	color #fff
	padding 10px 15px
	border none
	border-radius 5px
	margin-bottom 10px
	&:hover
		background-color #912
