$fontFamily = "Open Sans"

html, body
	height 100%
	-webkit-tap-highlight-color transparent

body
	font-size $fontSize
	line-height $lineHeight
	font-family $fontFamily

a
	text-decoration none

	transition all .2s ease

	&:hover
		transition none
