@font-face
	font-family RobotoCondensedRegular
	src url('../static/assets/fonts/RobotoCondensed/RobotoCondensedRegular.ttf')
	font-style normal
	font-weight 400

@font-face
	font-family RobotoCondensedLight
	src url('../static/assets/fonts/RobotoCondensed/RobotoCondensedLight.ttf')
	font-style normal
	font-weight 400

@font-face
	font-family RobotoCondensedBold
	src url('../static/assets/fonts/RobotoCondensed/RobotoCondensedBold.ttf')
	font-style normal
	font-weight 400


@font-face
	font-family OpenSansCondLight
	src url('../static/assets/fonts/OpenSans/OpenSansCondLight.ttf')
	font-style normal
	font-weight 400
